.site-header {
	@include rem(padding, 1rem 0);
	@include rem(margin-bottom, 4rem);

	.row { margin-bottom: 0;}

	.site-branding {
		float: left;

		.site-title {
			@include rem(margin-bottom, 0.5rem);
		}

		.site-description {
			margin-bottom: 0;
		}
	}
	nav {
		text-align: center;
		background-color: $turquoise;
		height: 4em;
		position: relative;
		@include rem(top, 1.75rem);

		li {
			a {
				text-decoration: none;
				display: inline-block;
				margin-top: 0.5em;
				padding: .25em;
				text-decoration: none;
				font-family: $sans-serif;
				font-weight: 700;
				font-size: 1.4em;
				color: $pink;
				border: 1px solid white;
				border-radius: 10px;

				&:hover {
					background-color: white;
					cursor: pointer;
				}
			}
		}
	}
}

