nav {
  &.main-navigation {

    @include breakpoint(tablet) {
      .menu-main-menu-container {
        display: none;
        position: absolute;
      }
    }
  ul {
    li {
      display: inline-block;
      a {}
    }
  }
  &.toggled {
      .genericon:before { 
      content: '\f405';
      font-size: 3em;
      @include ease;
    }

    li {
      display: block;
      border-radius: none;
      background-color: #fff;

      &:first-of-type {
        padding-top: 1em;
      }
      &:last-of-type {
        padding-bottom: 1em;
        border-radius: 0 0 10px 10px;
      }
    }
    .menu-main-menu-container {
      display: block;
      text-align: left;
    }
  }
  }

}


.menu-toggle {
	display: none;
  position: absolute;
  top: 0.5em;

	@include breakpoint(tablet) {
		display: inline-block;
	}
}