nav {
  &.main-navigation {

    @include breakpoint(tablet) {
      .menu-main-menu-container {
        display: none;
        position: absolute;
      }
    }
  &.toggled {
      .genericon:before { 
      content: '\f405';
      font-size: 3em;
      position: absolute;
      top: -0.75em;
      @include ease;
    }
    .menu-main-menu-container {display: block;}
  }
  }

  ul {
    li {
      display: inline-block;
      a {}
    }
  }
}


.menu-toggle {
	display: none;
  position: absolute;
  top: 0.5em;

	@include breakpoint(tablet) {
		display: inline-block;
	}
}