body.page-contact {
	background-color: blue;

	h2 {
		margin-top: 2em;
	}

}
iframe {
	width: 100%;
	margin-top: 3em;
}
#ninja_forms_form_5_all_fields_wrap {
	margin-top: 3em;
}
.contact-info {
	.row {
		width: 100%;
		max-width: 99999999px;
	}
}